<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_multiapplebowling._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Multi Platform Bowling uses the local network so your iPhone can control the game on a Mac or Apple TV.</string>
</dict>
</plist>
